{% extends "layout.html" %}

{% block body %}
  <h1>About Us</h1>
  <h2>We're here to redefine your event scheduling experience!</h2>
  
  <h3>Edward Dcruz</h3>
  <img id="ed" src="/project-huge-night/public/images/ed.JPG">
  <p>Edward is a currently student in MGT 660 with previous work experiences at Google and P&G.</p >
  
  <h3>Andy Kim</h3>
  <img id="andy" src="/project-huge-night/public/images/andy.png">
  <p>Andy is a currently student in MGT 660 with previous work experiences at Zynga and Bank of America.</p >
  
  <h3>Shiv Sinha</h3>
  <img id="shiv" src='/project-huge-night/public/images/shiv.png' >
  <p>Shiv is a currently student in MGT 660 with previous work experiences at Google and Appian.</p >
{% endblock %}
