{% block body %}
  <h1>About Us</h1>
  <h2>We're here to redefine your event scheduling experience!</h2>
  
  <h3>Edward Dcruz</h3>
  <img src="../images/EdwardDcruzheadshot.jpg">
  <p>Edward is a currently student in MGT 660 with previous work experiences at Google and P&G.</p >
  
  <h3>Andy Kim</h3>
  <img src="../images/AndyKimHeadshot.png">
  <p>Andy is a currently student in MGT 660 with previous work experiences at Zynga and Bank of America.</p >
  
  <h3>Shiv Sinha</h3>
  <img src="../images/ShivSinhaHeadshot.png">
  <p>Shiv is a currently student in MGT 660 with previous work experiences at Google and Appian.</p >

{% endblock %}

{% block footer %}
  <footer>
    <a href="/">Home</a> || <a href="/about">About</a>
  </footer>
{% endblock %}