{% extends "layout.html" %}

{% block body %}
  <center>  
  <div class="eds-l-pad-bot-2">
    <h1 class="eds-text-hm eds-text-color--grey-800 eds-text--center">About Us</h1>
  </div>
  <div class="eds-l-pad-hor-2 eds-l-mar-bot-2">
    <h2 class="eds-text-bl eds-text--center"><span class="eds-show-up-sw">We're here to redefine your event scheduling experience! </span> Brought to you by Yale SOM!!</h2>
  </div><br>
  
  <h3><Span id="calm-jackal-name">Edward Dcruz</Span></h3>
  <img id="calm-jackal-headshot" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhtAAAAJGRlZTA1MGQ0LTUzMTEtNGFjYi1hYmE2LTRmYzIyYzgxMDczYg.jpg" height="200" width="200">
  <p>Edward is a currently student in MGT 660 with previous work experiences at Google and P&G.</p >
  
  <h3><Span id="doutbtful-fish-name">Andy Kim</Span></h3>
  <img id="doubtful-fish-headshot" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/186/093/205f3ed.jpg" height="200" width="200">
  <p>Andy is a currently student in MGT 660 with previous work experiences at Zynga and Bank of America.</p >
  
  <h3><Span id="famous-quail-name">Shiv Sinha</Span></h3>
  <img id="famous-quail-headshot" src="https://media-exp1.licdn.com/mpr/mpr/shrinknp_200_200/p/8/000/220/206/2abb3df.jpg" height="200" width="200">
  <p>Shiv is a currently student in MGT 660 with previous work experiences at Google and Appian.</p ></center>
{% endblock %}


