{% extends "layout.html" %}

{% block body %}

  <div class="eds-l-pad-bot-2">
    <h1 class="eds-text-hm eds-text-color--grey-800 eds-text--center">Online Event Registration, Reimagined</h1>
  </div>
  <div class="eds-l-pad-hor-2 eds-l-mar-bot-2">
    <h2 class="eds-text-bl eds-text--center"><span class="eds-show-up-sw">Easily post, promote & sell tickets online for events. </span> Brought to you by Yale SOM!!</h2>
  </div>
                        
<a href="/events/new" id="new">New Event</a>

<ul>
  {% for event in events %}
    <li class="event" id="event-{{event.id}}">
      <a href="/events/{{event.id}}" id="title">Event Details</a>
      {{event.title}}
      <time>{{event.date}}</time>
    </li>
    {% endfor %}
</ul>

{% endblock %}

